<%= render 'shared/submission_description' %>

<%= form_for @referee_assignment, 
						 url: { controller: :referee_center, action: :update }, 
						 html: { class: "form-horizontal" } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= hidden_field_tag 'javascript_delayed_alert_hook', 
											 'To avoid losing your work, compose your comments in a separate text-editor, then paste them here.' %>

	<div class="control-group">
	  <%= f.label :comments_for_editor, 
								"To the editors", class: "control-label" %>
		<div class="controls">
			<%= f.text_area :comments_for_editor, 
											size: "60x10", 
											value: @referee_assignment.comments_for_editor %>
			<div style="margin-top: 5px;">
				Attachment (optional): <%= f.file_field :attachment_for_editor %>
			</div>
		</div>
	</div>
	
	<div class="control-group">
	  <%= f.label :comments_for_author, "To the author", class: "control-label" %>
		<div class="controls">
			<%= f.text_area :comments_for_author, 
											size: "60x10",
											placeholder: "Required unless recommending '#{ Decision::REJECT }'. Will be shared with other reviewers.",
											value: @referee_assignment.comments_for_author %>
			<div style="margin-top: 5px;">
				Attachment (optional): <%= f.file_field :attachment_for_author %>
			</div>
		</div>
	</div>

	<div class="control-group">
	  <%= f.label :recommendation, 
								"Recommendation",
								class: "control-label" %>
		<div class="controls">
			<%= select_tag "referee_assignment[recommendation]",
										 options_for_select(Decision.all_recommendations, 
												selected: @referee_assignment.recommendation, 												disabled: Decision.disabled(@submission)) %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit "Submit", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>