<table class="table table-striped">  
  <thead>  
    <tr>  
      <th>Subm. #</th>  
      <th>Title</th>  
      <th>Invited</th>
			<th>Agreed</th>
			<th>Due</th>
			<th>Completed</th>
    </tr>  
  </thead>  
  <tbody>
	<% @referee_assignments.each do |r| %>
		<% s = r.submission %>
		<tr>
			<td>
				 <%= s.id.to_s %>
			</td>  
			<td>
				<% if r.report_completed %>
					<%= link_to(s.title, referee_center_path(r)) %>
				<% else %>
					<%= s.title %>
				<% end %>
			</td>			
      <td>
				<%= r.assigned_at ? r.date_assigned_pretty : "\u2014" %>
			</td>
      <td>
				<% if r.agreed %>
					<%= r.date_agreed_pretty %>
				<% elsif r.agreed != nil %>
					Declined
				<% else %>
					<%= "\u2014" %>
				<% end %>
			</td> 
      <td>
				<%= r.report_due_at ? r.date_due_pretty : "\u2014" %>
			</td>
      <td>
				<%= r.report_completed_at ? r.date_completed_pretty : "\u2014" %>
			</td>
	  </tr>
	<% end %>
	<% if @referee_assignments.length < 1 %>
		<tr>
			<td colspan="10" style="text-align: center;">
				<span style="color: gray; font-style: italic;">
					No archived assignments
				</span>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>