<div class="row">
  <div class="offset2 span8">
    
		<%= render 'shared/submission_description' %>
		
    <table align="center">
        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
          Comments for the author: 
        </td>
        <td style="vertical-align: top;">
          <%= simple_format(@referee_assignment.comments_for_author) %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
          Comments for the editors: 
        </td>
        <td style="vertical-align: top;">
          <%= simple_format(@referee_assignment.comments_for_editor) %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; text-align: right; white-space: nowrap;">
          Recommendation: 
        </td>
        <td style="vertical-align: top;">
          <%= @referee_assignment.recommendation %>
        </td>
    	</tr>
      <tr style="text-align: center;">
        <td colspan="10">
			    <%= link_to "Edit", 
											edit_referee_center_path(@referee_assignment),
											 class: "btn" %>
					&nbsp;
			    <%= link_to "Submit", 											complete_referee_center_path(@referee_assignment), 
											class: "btn btn-primary" %>
        </td>
    	</tr>
    </table>
	</div>
</div>
