<% content_for :open_graph do %>
  <%= tag :meta, property: "og:site_name", content: "ErgoSubmissions.org" %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:title", content: "About Ergo" %>
  <%= tag :meta, property: "og:url", content: about_url %>
  <%= tag :meta, property: "og:image", content: request.protocol +
																								request.host_with_port +
																								image_path('E600.png') %>
<% end %>

<div class="row">
	<div class="offset2 span8" style="text-align: center;">
		<% if @first_time_visitor %>
		<div class="alert alert-block fade in">
			<a class="close" data-dismiss="alert">&times;</a>
			This site is for handling submissions.<br/>
			To read the journal go <a href="http://www.ergophiljournal.org">here.</a>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="offset2 span8" style="text-align: justify;">

		<h1>About Ergo</h1>
		<br/>

		<p><em>Ergo</em> is a general, open access philosophy journal accepting submissions on all philosophical topics and from all philosophical traditions. This includes among other things: history of philosophy, work in both the analytic and continental traditions, as well as formal and empirically informed philosophy. <em>Ergo</em> is strongly committed to diversity and especially welcomes submissions from members of groups currently underrepresented in philosophy.</p>
		<p>Submission and publication are free. Authors retain copyright under the <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0</a> license. Generous support from the undergraduate departments of philosophy at the University of Toronto's <a href="http://undergraduate.philosophy.utoronto.ca">St. George</a> and <a href="http://utm.philosophy.utoronto.ca">Mississauga</a> campuses, as well as the University of Toronto's <a href="http://graduate.philosophy.utoronto.ca">graduate department of philosophy</a>, make this arrangement possible.</p>
		<p>Papers are <a href="http://www.ergophiljournal.org">published</a> as they are accepted; there is no regular publication schedule.</p>
		<% unless current_user %>
		<p>To submit a paper, <%= link_to "sign up here", signup_path %>.</p>
		<% end %>
	</div>
</div>