<style>
	.wide-popover .popover-content { max-height: 100em; }
</style>

<div class="row">
	<div class="offset3 span6">
		
		<legend>
			Submit a paper
		</legend>

		<div class="alert" style="margin-top: 1em;">
			Manuscripts must be <u>PDF files</u> and 
				    <span class="wide-popover"><u>
					<%= link_to 'fully anonymized.',
								'#',
								class: 'popover-link wide-popover',
								placement: 'left',
								'data-trigger' => 'hover', 
								'data-content' => "#{render 'anonymization_instructions'}" %>
			        </u></span>
			</ul>
		</div>
		
		<%= form_for @submission, 
								 url: { controller: :author_center, action: :create }, 
								 html: { multipart: true, class: "form-horizontal" } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
				
			<fieldset>
			
				<div class="control-group">
		      <%= f.label :title, "Title", class: "control-label"  %>
					<div class="controls">
						<%= f.text_field :title %>
					</div>
				</div>
			
				<div class="control-group">
		      <%= f.label :area_id, "Area", class: "control-label"  %>
					<div class="controls">
						<%= f.collection_select :area_id, @areas, :id, :name %>
					</div>
				</div>
				
				<div class="control-group">
		      <%= f.label :manuscript_file, "PDF File", class: "control-label"  %>
					<div class="controls">
						<%= f.file_field :manuscript_file, accept: "application/pdf" %>
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<%= f.submit "Submit", class: "btn btn-primary" %>
					</div>
				</div>
			
			</fieldset>
			
		<% end %>  
			
	</div>
</div>


<%= render "shared/uploading_modal" %>