<div class="row">
	<div class="offset3 span6">
		<legend>
		Profile
		<% if current_user.managing_editor? %>
			<span class="pull-right">
			<%= link_to fa_icon('sign-in'),
									sessions_path(session: {user_id: @user.id}),
									method: :post,
									class: "btn btn-mini" %>
			</span>
		<% end %>
		</legend>

		<dl class="dl-horizontal">
			<dt style="text-align: right;">
				Name
			</dt>
			<dd>
				<%= @user.full_name %>
			</dd>
			<dt>
				Email
			</dt>
			<dd>
				<%= mail_to @user.email %>
			</dd>
			<dt>
				Affiliation
			</dt>
			<dd>
				<%= @user.affiliation %>
			</dd>
			<dt>
				Password
			</dt>
			<dd>
				<span class="muted"><em>encrypted <%= fa_icon("lock") %></em></span>
			</dd>

			<% if current_user && current_user.managing_editor? %>
				<dt>
					Role
				</dt>
				<dd>
					<%= "Managing Editor" if @user.managing_editor? %>
					<%= "Area Editor" if @user.area_editor? %>
					<%= "Author/Referee" if !@user.managing_editor? && !@user.area_editor %>
				</dd>
				<% if @user.area_editor? %>
					<dt>
						Area
					</dt>
					<dd>
					<% if @user.editor_area.present? %>
						<%= @user.editor_area.name %>
					<% end %>
				  </dd>
				<% end %>
				<dt>
					Gender
				</dt>
				<dd>
					<%= @user.gender.to_s %>
				</dd>
			<% end %>

		</dl>

		<% if @user == current_user || current_user.managing_editor? || (current_user.editor? && !@user.editor?) %>
			<div class="row">
				<div style="text-align: center;">
					<%= link_to "Edit profile", edit_user_path, class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>

	</div>
</div>
<br/>



