<div class="well">
  <legend>
		<% if current_user.editor? %>
			<%= "#{@referee_assignment.referee.full_name}'s review" %>
		<% else %>
			Referee <%= "#{@referee_assignment.referee_letter}" %>
		<% end %>
	</legend>
	<dl class="dl-horizontal">
			<% if current_user.editor? %>
	    <dt>
	      To the editors
			</dt>
	    <dd>
				<% unless @referee_assignment.comments_for_editor.blank? %>
	      	<%= simple_format(@referee_assignment.comments_for_editor) %>
				<% end %>
				<% if @attachment_for_editor.url %>
					<%= link_to fa_icon('file-text') +
											' ' + 
											File.basename(@attachment_for_editor.url),
											@attachment_for_editor.url, target: '_blank' %>
				<% end %>
	    </dd>
			<% end %>
			<dt>
				To the author(s)
			</dt>
			<dd>
				<% unless @referee_assignment.comments_for_author.blank? %>
	      	<%= simple_format(@referee_assignment.comments_for_author) %>
				<% end %>
				<% if @attachment_for_author.url %>
					<%= link_to fa_icon('file-text') + 
											' ' + 
											File.basename(@attachment_for_author.url),
											@attachment_for_author.url, target: '_blank' %>
				<% end %>
			</dd>
	    <dt>
	      Recommendation
			</dt>
	    <dd>
        <%= @referee_assignment.recommendation %>
	    </dd>
	</dl>
</div>