<div class="well">
  <legend>
  	Referee <%= "#{@referee_assignment.referee_letter}" %>
		<% if current_user.editor? %>
			<%= "(#{@referee_assignment.referee.full_name})" %>
		<% end %>
    <% if current_user.managing_editor? %>
      <span class="pull-right">
        <%= link_to 'Edit', edit_report_submission_referee_assignment_path(@referee_assignment.submission, @referee_assignment), class: "btn btn-small" %>
        <%= link_to show_hide_report_button_label(@referee_assignment), hide_report_from_author_submission_referee_assignment_path(@referee_assignment.submission, @referee_assignment), method: :put, class: "btn btn-small btn-danger" %>
      </span>
    <% end %>
	</legend>
	<dl class="dl-horizontal">
			<% if current_user.editor? ||
						current_user == @referee_assignment.referee %>
	    <dt>
	      To the editors
			</dt>
	    <dd>
				<% unless @referee_assignment.comments_for_editor.blank? %>
	      	<%= simple_format(@referee_assignment.comments_for_editor) %>
				<% end %>
				<% if @attachment_for_editor.url %>
					<%= link_to fa_icon('file-text') +
											' ' +
											File.basename(@attachment_for_editor.url),
											@attachment_for_editor.url, target: '_blank' %>
				<% end %>
	    </dd>
			<% end %>
			<dt>
				To the author(s)
			</dt>
			<dd>
				<% unless @referee_assignment.comments_for_author.blank? %>
	      	<%= simple_format(@referee_assignment.comments_for_author) %>
				<% end %>
				<% if @attachment_for_author.url %>
					<%= link_to fa_icon('file-text') +
											' ' +
											File.basename(@attachment_for_author.url),
											@attachment_for_author.url, target: '_blank' %>
				<% end %>
			</dd>
	    <dt>
	      Recommendation
			</dt>
	    <dd>
        <%= @referee_assignment.recommendation %>
	    </dd>
	</dl>
</div>
