<div class="row">
  <div class="span8 offset2">

		<h2 class="center">
			<%= @referee_assignment.referee.full_name %>'s Report
		</h2>

		<br>

		<legend>
			Edit due date
		</legend>

		<%= form_for @referee_assignment,
								 url: { action: :update_due_date },
								 html: { class: 'form-horizontal' } do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

      <div class="control-group">
	      <%= f.label 'New due date', class: "control-label" %>
				<div class="controls">
          <div class="input-append">
            <%= f.text_field :report_due_at,
                              class: "date input-small" ,
                              data: { provide: "datepicker", "date-format" => "M. d, yyyy" },
                              id: "due-date-picker",
                              value: pretty_date(@referee_assignment.report_due_at) %>
            <span class="add-on"><%= fa_icon("calendar") %></span>
          </div>
		    </div>
		  </div>

      <div class="control-group">
        <div class="controls">
          <%= link_to 'Cancel', submission_path(@referee_assignment.submission), class: "btn" %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>

		<% end %>

  </div>
</div>
