<div class="row">
	<div class="offset2 span8">

		<h3 class="center">
			<%= link_to "\"#{@submission.title}\"", @submission.manuscript_file.to_s, target: "_blank" %>
			<% if current_user.managing_editor? %>
				<%= link_to fa_icon('upload'),
										edit_manuscript_file_submission_path(@submission),
										class: "btn btn-mini" %>
			<% end %>
		</h3>
		<% if current_user.managing_editor? %>
			<h4 class="center">
				by <%= link_to @submission.author.full_name,
											 user_path(@submission.author) %>
				<%= render 'shared/update_gender_link' %>
			</h4>
		<% end %>

		<h5 class="center">
		<% if @submission.original != @submission %>
			Previously <%= link_to "Submission \##{@submission.previous_revision.id}", @submission.previous_revision %>
			</h5>
			<h5 class="center">
				Resubmitted <%= @submission.date_submitted_pretty %>
			</h5>
		<% else %>
			Submitted <%= @submission.date_submitted_pretty %>
		<% end %>
		</h5>

		<h6 class="center">
			<%= "Area: #{@submission.area.name}" %>
		</h6>

		<% if area_editor? %>
		<div class="center">
			<%= link_to fa_icon('compass', style: 'font-size: 1.2em;'), guide_path %>
			<%= link_to 'Editor\'s guide', guide_path %>
		</div>
		<% end %>

		<div class="legend-sans-rule">
			Internal review
			<span class="pull-right">
				<%= link_to 'Edit', edit_submission_path(@submission), class: "btn btn-primary btn-small" %>
			</span>
		</div>

		<div class="well">
			<dl class="dl-horizontal">
			    <dt style="text-align: right;">
			      Area editor
					</dt>
			    <dd>
						<%= area_editor_or_emdash(@submission) %>
			    </dd>
					<dt>
						To the editors
					</dt>
					<dd>
						<% if @submission.area_editor_comments_for_managing_editors %>
							<%= simple_format(@submission.area_editor_comments_for_managing_editors) %>
						<% else %>
							&mdash;
						<% end %>
					</dd>
					<dt>
						To the author(s)
					</dt>
					<dd>
						<% if @submission.area_editor_comments_for_author %>
							<%= simple_format(@submission.area_editor_comments_for_author) %>
						<% else %>
							&mdash;
						<% end %>
					</dd>
			    <dt>
			      Status
					</dt>
			    <dd>
			      <%= @submission.display_status_for_editors %>
			    </dd>
			    <dt>
			      Decision
					</dt>
			    <dd>
		        <%= @submission.decision if @submission.decision %>
		        <%= "(needs approval)" if @submission.decision != Decision::NO_DECISION && !@submission.decision_approved? %>
		        <%= Decision::NO_DECISION if !@submission.decision %>
			    </dd>
			</dl>
		</div>
	</div>
</div>


<div class="legend-sans-rule">
	External review
</div>
<table class="table table-hover">
  <thead>
    <tr>
			<th></th>
			<th>Ref.</th>
      <th>Name</th>
      <th>Assigned</th>
			<th>Agreed</th>
			<th>Due</th>
			<th>Completed</th>
			<th>Recomm.</th>
      <th>Comments</th>
			<th class="text-center">Emails</th>
    </tr>
  </thead>
  <% if @referee_assignments %>
		<tbody>
    <% @referee_assignments.each do |r| %>
      <tr class="<%= referee_assignment_tr_class(r) %>">
				<td class="ellips15" style="text-align: right;">
					<% confirm_message = r.declined? ? nil :  "A cancellation notice will be emailed to the reviewer. Do you want to proceed?" %>
					<%= link_to "Cancel",
											submission_referee_assignment_path(r.submission, r),
											confirm: confirm_message,
											method: :delete,
											class: "btn btn-mini btn-danger",
											style: 'width: 3em;' %>
				</td>
				<td class="text-center">
					<%= r.referee_letter %>
				</td>
        <td class="ellips15">
					<%= link_to r.referee.full_name, user_path(r.referee) %>
				</td>
        <td class="ellips15">
					<%= r.assigned_at ? r.date_assigned_pretty : "\u2014" %>
				</td>
        <td class="ellips15">
					<% if r.agreed %>
						<%= r.date_agreed_pretty %>
					<% elsif r.agreed != nil %>
						Declined
					<% else %>
						<%= link_to "Yes",
												agree_on_behalf_submission_referee_assignment_path(@submission, r),
												"data-toggle" => "tooltip",
												title: "#{r.referee.first_name} agreed in personal communication? Click to make it official." %>
						/
						<%= link_to "No",
												decline_on_behalf_submission_referee_assignment_path(@submission, r),
												"data-toggle" => "tooltip",
												title: "#{r.referee.first_name} declined in personal communication? Click to make it official." %>
					<% end %>
				</td>
        <td class="ellips15">
					<%= due_date_text_or_link(@submission, r) %>
				</td>
        <td class="ellips15">
					<%= r.report_completed_at ? r.date_completed_pretty : "\u2014" %>
				</td>
        <td class="ellips15">
          <% if r.report_completed? %>
            <%= r.recommendation %>
          <% else %>
            <%= "\u2014" %>
          <% end %>
				</td>
        <td class="ellips15 text-center">
          <% if r.report_completed? %>
            <%= link_to "Click to read", submission_referee_assignment_path(r.submission, r) %>
					<% elsif r.agreed == false %>
						<%= link_to(fa_icon('comment', style: 'font-size: 1.2em;'),
												'#',
												class: "popover-link",
												placement: "left",
												"data-content" => ( r.decline_comment && r.decline_comment.length > 0 ? r.decline_comment : "N/A")) %>
          <% else %>
            <%= "\u2014" %>
          <% end %>
				</td>
        <td class="ellips15 text-center">
					<%= link_to fa_icon('envelope', style: 'font-size: 1.2em;'), submission_referee_assignment_sent_emails_path(@submission, r) %>
				</td>
      </tr>
		<% end %>
			<tr>
				<td class="ellips15" colspan="1" style="text-align: right;">
					<%= link_to 'Add',
											new_submission_referee_assignment_path(@submission),
											class: "btn btn-success btn-mini",
											style: "width: 3em;" %>
				</td>
				<td class="ellips15" colspan="10" style="text-align: left;">
					<span class="muted"><em><%= "&larr; Assign a referee".html_safe if @referee_assignments.size < 1 %></em></span>
				</td>
			</tr>
		</tbody>
	<% end %>
</table>


<div class="center">
	<%= link_to fa_icon('envelope', style: 'font-size: 1.2em;'), submission_sent_emails_path(@submission) %>
	<%= link_to 'Email log', submission_sent_emails_path(@submission) %>
</div>
