<div class="row">
	<div class="offset2 span8">

		<h3 class="center">
			<%= link_to "\"#{@submission.title}\"", @submission.manuscript_file.to_s %>
		</h3>
		<% if current_user.managing_editor? %>
			<h4 class="center">
				by <%= link_to @submission.author.full_name, 											 											 user_path(@submission.author) %>
				<%= render 'shared/update_gender_link' %>
			</h4>
		<% end %>

		<% if @submission.original != @submission %>
			<h5 class="center">
				Previously <%= link_to "Submission \##{@submission.original.id}", @submission.original %>
			</h5>
			<h5 class="center">
				Resubmitted <%= @submission.date_submitted_pretty %>
			</h5>
		<% else %>
		<h5 class="center">
			Submitted <%= @submission.date_submitted_pretty %>
		</h5>
		<% end %>

		<h6 class="center">
			<%= "Area: #{@submission.area.name}" %>
		</h6>

		<div class="legend-sans-rule">
			Internal review
			<span class="pull-right">
				<%= form_for :submission, method: :put, url: { id: @submission.id } do |f| %>
					<%= f.hidden_field :unarchive, value: :true %>
					<%= f.submit "Unarchive", class: "btn btn-small" if current_user.managing_editor? %>
				<% end %>
			</span>
		</div>

		<div class="well">
			<dl class="dl-horizontal">
			    <dt style="text-align: right;">
			      Area editor
					</dt>
			    <dd>
			      <%= area_editor_or_emdash(@submission) %>
			    </dd>
					<dt>
						To the editors
					</dt>
					<dd>
						<%= simple_format(@submission.area_editor_comments_for_managing_editors || "\u2014") %>
					</dd>
					<dt>
						To the author(s)
					</dt>
					<dd>
						<%= simple_format(@submission.area_editor_comments_for_author || "\u2014") %>
					</dd>
			    <dt>
			      Status
					</dt>
			    <dd>
			      <%= @submission.display_status_for_editors %>
			    </dd>
			    <dt>
			      Decision
					</dt>
			    <dd>
		        <%= @submission.decision if @submission.decision %>
		        <%= "(needs approval)" if @submission.decision != Decision::NO_DECISION && !@submission.decision_approved? %>
		        <%= Decision::NO_DECISION if !@submission.decision %>
			    </dd>
			</dl>
		</div>
	</div>
</div>



<div class="legend-sans-rule">
	External review
</div>

<table class="table table-striped">
  <thead>
    <tr>
    	<th>Ref.</th>
      <th>Name</th>
      <th>Assigned</th>
			<th>Accepted</th>
			<th>Due</th>
			<th>Completed</th>
			<th>Recommend</th>
      <th class="text-center">Comments</th>
			<th class="text-center">Emails</th>
    </tr>
  </thead>
	<tbody>
  	<% if @referee_assignments %>
      <% @referee_assignments.each do |r| %>
	      <tr>
	      	<td class="text-center">
						<%= r.referee_letter %>
					</td>
	        <td>
						<%= link_to r.referee.full_name, user_path(r.referee) %>
					</td>
	        <td>
						<%= r.assigned_at ? r.date_assigned_pretty : "\u2014" %>
					</td>
	        <td>
						<% if r.agreed %>
							<%= r.date_agreed_pretty %>
						<% elsif r.agreed != nil %>
							Declined
						<% else %>
							&mdash;
						<% end %>
					</td>
	        <td>
						<%= due_date_text_or_link(@submission, r) %>
					</td>
	        <td>
						<%= r.report_completed_at ? r.date_completed_pretty : "\u2014" %>
					</td>
	        <td>
            <% if r.report_completed? %>
              <%= r.recommendation %>
            <% else %>
              <%= "\u2014" %>
            <% end %>
					</td>
	        <td class="text-center">
            <% if r.report_completed? %>
              <%= link_to report_link_text(r), archive_referee_assignment_path(r.submission, r) %>
						<% elsif r.agreed == false %>
							<%= link_to(fa_icon('comment', style: 'font-size: 1.2em;'),
													'#',
													class: "popover-link",
													placement: "left",
													"data-content" => ( r.decline_comment && r.decline_comment.length > 0 ? r.decline_comment : "N/A")) %>
            <% else %>
              <%= "\u2014" %>
            <% end %>
					</td>
	        <td class="text-center">
						<%= link_to fa_icon('envelope', style: 'font-size: 1.2em;'), archive_referee_assignment_sent_emails_path(@submission, r) %>
					</td>
	      </tr>
			<% end %>
		<% end %>
		<% if @referee_assignments.size < 1 %>
    	<tr>
    		<td colspan="10" style="text-align: center;">
					<span class="muted"><em>No referees assigned</em></span>
				</td>
      <td>
		<% end %>
	</tbody>
</table>

<div class="center">
	<%= link_to fa_icon('envelope', style: 'font-size: 1.2em;'), archive_sent_emails_path(@submission) %>
	<%= link_to 'Email log', archive_sent_emails_path(@submission) %>
</div>